@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    height: 100%;

}



body {
    margin: 0;
    padding: 0;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
    position: relative;
}



/* Displayed the nav as a table. */
body>nav>div.container-fluid>div.navbar-header{
    font-family: 'Raleway', sans-serif;
}

/* I used a slight variation of the styles from the p tag styles. */
body>nav>div.container-fluid>div>#myNavbar>ul.nav.navbar-nav>li>a {
    float: right;
}

.slide {
    position: relative;
    padding: 20vh 10%;
    width: 100vw;
    box-sizing: border-box;
    transform-style: inherit;
}

img {
    position: absolute;
    top: 50%;
    left: 35%;
    width: 320px;
    height: 240px;
    transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(2deg);
    padding: 20px;
    border-radius: 5px;
    background: rgba(240, 230, 220, .7);

}

img:last-of-type {
    transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg);
}

.header {
    text-align: center;
    font-size: 175%;
    color: #fff;
    text-shadow: 0 2px 2px #000;
}

#title {
    background-image: url("https://images.pexels.com/photos/249074/pexels-photo-249074.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    z-index: 2;
    background-attachment: fixed;

}

#title h1 {
    font-size: 50px;
}



